TIMIT_Pattern_Dict.pickle
Pattern_Preprocessing(Don't upload).py
Pattern_Generator.BAK.py
Hyper_Parameters.bak.py
Run.1KW.17T.ps1
Run.1KW.17T.Sub.ps1
Run.1000.ps1
Run.Free_Structure.ps1
Run.Human.ps1
Run.OLD.15T.ps1
Run.sh
Run.ps1
Run.Pattern_Generator.for_Monty_Data.py
temp.py
Previous.README.md
Pronunciation_Data_1K.Paper.txt
Pronunciation_Data_2K.txt
Pronunciation_Data_6K.txt
Pronunciation_Data_240.txt
Pronunciation_Data_New.txt
Previous_R_Script.Bak.zip
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
list240.txt
Diphone_Figure.py
